:root{
    --primaryColor: #1E1F26;
    --secundaryColor: #283655;
    --tertiaryColor: #4D6a8D;
    --quaternaryColor:  #d0E1f9;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}


#headerContain{
    background-color:var(--secundaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    padding:10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px .5px var(--quaternaryColor);
}

#logo{
    height: 45px;
    margin: 5px;
    
}
h1{
    margin:5px;
    font-size: 50px;
    color: white;
    font-weight: 20000;
    
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primaryColor) ;
    display: grid;
    
}


.container{
    display: flex;
    justify-content:center;
    align-items: center;
}

#customerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiaryColor);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 5px;
    border: 0;
    border-radius: 15px;
    height: 100px;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 0px 0px 5px .5px var(--quaternaryColor);
}


.textALign {
    margin: 5px;
    display: flex;
    width: 160px;
}

.data{
    grid-column: 2;
    grid-row-start: 1; 
    grid-row-end: 3; 
}

.card{
    background-color: var(--tertiaryColor);
    height: 80px;
    width: 170px;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 45px 160px ;
    grid-template-rows: auto auto auto;
    margin: 10px;
    border: 0;
    box-shadow: 0px 0px 5px .5px var(--quaternaryColor);
}
.card:hover{
    transition: .2s;
    height: 85px;
    width: 175px;
}


.name, .nameCard, .acount, .acountCard, .nip, .nipCard, .bankName{
    margin: 3px;
    font-size: 12px;

}
.profileImg {
    height: 50px;
    width: 40px;
    border-radius: 5px;
    grid-column-start: 1;
    grid-row-end: 2;
}
.bankName{
    color: var(--quaternaryColor);
    padding-left: 5px;
    grid-column-start: 1;
    font-size: 10px;
}




#rigthButtons{
    grid-column: 2; 
    display: grid;
    
}

.buttonScreen{
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 10px;
}
.keyboard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions{
    display: flex;
}
.actionKey{
    margin: 3px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
button{
    background-color: var(--tertiaryColor);
    color: var(--quaternaryColor);
    border: 0;
    box-shadow: 0px  0px 5px .5px var(--quaternaryColor);
}
button:hover{
    background-color: var(--secundaryColor);
    transition: .2s;
}
button:active{
    background-color: var(--quaternaryColor);
    color: var(--primaryColor);
}


.pregunta{
    font-size: 30px;
    padding-right: 10px;
    padding-left: 8px;
    padding-top: 30px;
    
}
.saldo{
    margin-left: 40px;
    margin-top: 0;
    padding-top: 30px; 
    grid-column: 2;
    grid-row: 1;
}
.buttonTop:hover ~ .saldo {
    color: var(--quaternaryColor);
    
}

.ingresar{
    margin-left: 40px;
    padding-top: 25px;
    grid-column: 2;
    grid-row: 2;
}
.pregunta{
    margin-left: 20px;
    font-size: 18px;
}
.retirar{
    margin-left: 50px;
    padding-top: 20px;
    grid-column: 2;
    grid-row: 3;
}
.cancelMsg{
    margin-left: 100px;
}
.screenSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#screen{
    background-color: var(--quaternaryColor);
    width: 400px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px .5px var(--quaternaryColor);
}
.pregunta{
    font-size: 25px;
    margin-left: 65px;
}
.cancel{
    margin: 0px 120px;
}

.inputValue{
    display: block;
    padding: 0;
    background-color: var(--quaternaryColor);
    border-radius: 5px;
    border: 0;
    outline: solid var(--secundaryColor);
    margin: 20px 120px;
    font-size: 20;
}
.newBalance{
    font-size: 25px;
    margin-left: 65px;
}